{% extends 'base.njk' %}

{% macro render_field(field) %}
  <div class="form-group{% if field.hasErrors() %} has-warning{% endif %}">
    <label class="">{{ field.label }}</label>
    {{ field.html({ _class: 'form-control' }) | safe }}
    {% if field.hasErrors() %}
      {% for error in field.errors %}
        <div class="form-control-feedback">{{ error }}</div>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% block body %}
  {{ super() }}
  <div class="container-fluid">
    <div class="mt-3">
      <h1>
        Joiform registration example
      </h1>
    </div>

    <hr>

    {% if not result %}
      <div class="alert alert-danger">
        validation result:
        {{ result }}
      </div>
    {% endif %}

    <form method="post">
      {{ render_field(loginForm.username) }}
      {{ render_field(loginForm.password) }}
      {{ render_field(loginForm.memo) }}
      <p><input type="submit" class="btn btn-primary"></p>
    </form>
  </div>
{% endblock %}